body {
  background-color: rgb(0,200,250);
}
h1 {
  color: rgb(5,21,250);
  font-size: 25px;
}
h2 {
  color: rgb(5,21,250);
  font-size: 18px;
  font-style: italic;
}

.class {
  color: rgb(100,21,250);
  font-size: 25px;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
nav li a:hover {
    background-color: #111;
}

/* Everything below is for the Side Column Style */

section {
 display: flex;
}

aside {
 flex: 1;
}

article {
 flex: 4;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

aside li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
aside li a:hover {
    background-color: #555;
    color: white;
}
